<div class="products-page">
  <h1>Våra Proteinkakor - Strong Bakes</h1>

  <a class="login-link" href="/login">Logga in</a>

  <ul class="product-list">
    <% @products.each do |product| %>
      <li class="product-card">
        <a class="product-title" href="/products/<%= product["id"] %>">
          <strong>Smak:</strong> <%= product["smak"] %>
        </a>

        <p class="product-price">
          <strong>Pris:</strong> <%= product["pris"] %> kr
        </p>

        <div class="product-actions">
          <form action="/add/<%= product['id'] %>" method="post">
            <button type="submit">Lägg till i varukorgen</button>
          </form>

          <form action="/products/<%= product["id"] %>/delete" method="post">
            <input type="submit" value="Ta bort">
          </form>

          <form action="/products/<%= product["id"] %>/edit" method="get">
            <input type="submit" value="Ändra beskrivningen">
          </form>
        </div>
      </li>
    <% end %>

    <li class="extra-links"><a href="/products/new">Skapa din egen smak!</a></li>
    <li class="extra-links"><a href="/cart">Varukorgen</a></li>
    <li class="extra-links"><a href="/new_user">Skapa ny användare</a></li>
    <li class="extra-links"><form action="/logout" method="post">
     <button type="submit">Logga ut</button>
      </form></li>
  </ul>
</div>